<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Details</title>
    <link rel="stylesheet" href="css/addDetails.css">
</head>

<body>
    <h1>Add Product Details</h1>
    <div class="btn">
        <form id="logoutForm" action="/logout" method="POST">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
    <div class="form-container">
        <h2>Add Details</h2>
        <form id="orderForm" class="order-form">
            <div class="form-group">
                <label for="orderDate">Order Date</label>
                <input type="date" id="orderDate" name="orderDate" required>
            </div>
            <div class="form-group">
                <label for="orderDate">Company</label>
                <input type="text" id="company" value="<%= user.id %>" readonly>
            </div>
            <div class="form-group">
                <label for="orderDate">Order Owner</label>
                <input type="text" id="orderOwner" value="<%= user.name %>" readonly>
            </div>
            <div class="form-group">
                <label for="item">Item/Product:</label>
                <input type="text" id="item" required>
            </div>
            <div class="form-group">
                <label for="count">EA/Count:</label>
                <input type="number" id="count" required>
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" step="0.01" id="weight" name="weight" required>
            </div>
            <div class="form-group">
                <label for="requests">Requests:</label>
                <textarea id="requests" required></textarea>
            </div>
            <p id="errorText"></p>
            <p id="successText"></p>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    <script src="js/addProductDetails.js"></script>
</body>

</html>