<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mysql Login App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <input type="text" id="username" placeholder="Username" required>
      <input type="password" id="password" placeholder="Password" required>
      <p id="errorText"></p>
      <div class="buttonContainer">
      <button type="submit" class="leftButton">Login</button>
      <button type="button" class="rightButton"><a href="/change-password-page">Change Password</a></button>
      </div>
    </form>
  </div>

  <script src="js/sendAuthCredentials.js"></script>
</body>

</html>