body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #333;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    margin: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
}

button:hover {
    background-color: #0056b3;
}


input[type="text"].error,
input[type="password"].error {
    border-color: #ff0000;
    box-shadow: 0 0 4px #ff0000;
}

#errorText {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .leftButton {
    order: 1;
  }
  
  .rightButton {
    order: 2;
  }